/* normalize */
*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a:hover{
  text-decoration: none;  
}

/* icon moon */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-evybde');
	src:url('fonts/icomoon.eot?#iefix-evybde') format('embedded-opentype'),
		url('fonts/icomoon.woff?-evybde') format('woff'),
		url('fonts/icomoon.ttf?-evybde') format('truetype'),
		url('fonts/icomoon.svg?-evybde#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e609";
}
.icon-envelope:before {
	content: "\e608";
}
.icon-signal:before {
	content: "\e60f";
}
.icon-cog:before {
	content: "\e604";
}
.icon-trash:before {
	content: "\e605";
}
.icon-home:before {
	content: "\e606";
}
.icon-time:before {
	content: "\e60a";
}
.icon-edit:before {
	content: "\e607";
}
.icon-arrow-left:before {
	content: "\e611";
}
.icon-arrow-right:before {
	content: "\e612";
}
.icon-calendar:before {
	content: "\e60c";
}
.icon-link:before {
	content: "\e602";
}
.icon-reorder:before {
	content: "\e600";
}
.icon-list-ul:before {
	content: "\e603";
}
.icon-caret-left:before {
	content: "\e601";
}
.icon-comment-alt:before {
	content: "\e60b";
}
.icon-bubbles:before {
	content: "\e60e";
}
.icon-users2:before {
	content: "\e610";
}
.icon-users:before {
	content: "\e60d";
}
.icon-exit:before {
	content: "\e613";
}


html,body{
    height: 100%;
}

/* navbar area style */
#p_header.global-navbar{
	width:100%;
	height:60px;
	min-height:60px;
    margin-bottom:0px;
    border:0px;
    border-bottom:1px solid #DFDFDF;
    
}

/* menu icon area style */
.menu-icon-area{
    display: inline-block;
    height:100%;
    width:60px;
    line-height: 59px;
    text-align: center;
    vertical-align: middle;
    padding:0px;
    margin:0px;
    border-right:1px solid #DFDFDF;
}

.menu-icon-area:before{
    font-size: 30px;
}

.menu-icon-area:hover{
    background-color: #8F8F8F;
    color:#FFFFFF;
    cursor: pointer;
}

/* nav-option-area style */
.nav-option-area{
    float:right;
    display: inline-block;
    height:100%;
    width:190px;
    line-height: 59px;
    vertical-align: middle;
    padding:0px;
    margin:0px;
}

.nav-option{
    display:inline-block;
    height:45px;
    width:45px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    border: 1px solid #BFBFBF;
    border-radius: 45px;
    padding:0px;
    margin:0px;
    margin-left:5px;
    margin-right:5px;
}

#logout-form{
    display:inline-block;
}

.nav-option:before{
    font-size:20px;
}

.nav-option:hover{
    color:#FFFFFF;
    background-color:#8F8F8F;
    cursor: pointer;
}
    
/* sidebar menu style */
.st-container,
.st-pusher,
.st-content{
	height: 100%;
}

.st-content,
.st-content-inner {
	position: relative;
    width:100%;
    height:100%;
}

.st-content {
	overflow-y: auto;
	background: #ECF1F4;
}

.st-container {
	position: relative;
	overflow: hidden;
    width:100%;
}

.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
    z-index:100;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 250px;
	height: 100%;
	background: #555C6D;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.st-menu::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu ul li a, .st-menu .subtitle{
	display: block;
    height:60px;
    padding:0px;
	outline: none;
	color: #f3efe0;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
    font-size:2em;
	font-weight: 300;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li a span{
    position:relative;
    left:60px;
    font-size: 20px;
    line-height: 60px;
    vertical-align: middle;
}

.st-menu .subtitle{
    position: relative;
    left:60px;
    font-size:20px;
    line-height: 60px;
    vertical-align: middle;
    height:60px;
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}


.st-menu .option_word{
    font-size:15px;   
}
/* Slide along */
.st-effect.st-menu-open .st-pusher {
	-webkit-transform: translate3d(250px, 0, 0);
	transform: translate3d(250px, 0, 0);
}

.st-effect.st-menu {
	z-index: 1;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.st-effect.st-menu-open .st-effect.st-menu {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect.st-menu::after {
	display: none;
}


/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-left: 300px;
}

.user_name{
    width:100%;
    height:50px;
}

.user_name h5{
    position:relative;
    margin:0px auto;
    color: #949DAE;
    font-size:18px;
    font-weight: 300;
    width:100%;
    text-align: center;
    margin-top: 10px;
}

.user_pic{
    position:relative;
    margin:0px auto;
    height:100px;
    width:100px;
    border-radius: 100px;
    border: 1px solid #DFDFDF;
    margin-top:20px;
    
}
